/* SPDX-FileCopyrightText: © 2024 Jimi Viita-aho
SPDX-License-Identifier: MIT */

:root {
    --border-radius: 0.5rem;
}

body {
    background-color: rgb(214, 226, 228);
    display: block;
}

#content {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: min(45rem,90%);
}

article {
    /* margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem; */
    background-color: white;
    padding: 1rem;
    border-radius: var(--border-radius);
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

article {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: 0.5px solid blue;

    width: fit-content;
    height: fit-content;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    gap: 0.1rem;
}

nav button {
    /*override simplecss margin*/
    margin-bottom: 0;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--border-radius);
    font-size: larger;
}

#rat {
    width: 100%;
    object-fit: cover;
    max-height: 15rem;
}

iframe {
    width: 100%;
}

body footer {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(53, 53, 53);
    width: 100%;
    color: white;
    padding: 2rem;
    padding-bottom: 3rem;
}

footer a, footer a:visited {
    color: aqua;
}


@media (max-width: 700px) {
    body {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    article {
        padding: 0.5rem;
    }

    body footer {
        grid-template-columns: 1fr;
    }
}